<div class="container">
  <div class="text-center">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">
        <% if @video.url.nil? %>
        <div class="no-video">
          <img src='https://emojipedia-us.s3.amazonaws.com/thumbs/320/apple/129/nerd-face_1f913.png' class='img-fluid' />
          <p class='text-muted'><b>Eba!</b> Espere alguns segundos! nossos nerds estão gerando o seu vídeo.</p>
          <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" class="img-fluid" width="100" />
        </div>
        <% else %>
          <video width="320" height="240" controls>
            <source src="<%= @video.url %>" type="video/mp4">
          Your browser does not support the video tag.
          </video>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id='slug' class='<%= @video.user_id %>'></div>
<%= javascript_include_tag 'videos', defer: true %>
