<div id="content">
  <div class="container push-top-home">
    <div class="row">
      <div class="col-sm-6">
        <p class="title" id="target">
          <span class="highlight">Seu cartão de visitas em vídeo!</span>
        </p>
        <p class='intro'>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <% if current_user %>
          <%= link_to "Gerar vídeo com meu Linkedin", user_linkedin_omniauth_authorize_path, class: 'btn btn-primary btn-lg' %>
        <% end %>
      </div>
      <div class="col-sm-6">
      <iframe width="560" height="315" src="https://player.chiligumvideos.com/7e740e6be4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen scrolling="no"></iframe>
      </div>
    </div>
  </div>
</div>
